<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">

    <filter-mapping>
        <filter-name>AddHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/Top</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/TodoRegister</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/TodoUpdate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/UserUpdate</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/UserTodo</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/UserMemo</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/Completed</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupSelect</url-pattern>
    </filter-mapping>    
     <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupTop</url-pattern>
    </filter-mapping>   
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupTodo</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupMemo</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupMember</url-pattern>
    </filter-mapping>  
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupUpdate</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupSearch</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/Result</url-pattern>
    </filter-mapping>    
    <filter-mapping>
        <filter-name>LoginCheckFilter</filter-name>
        <url-pattern>/GroupCreate</url-pattern>
    </filter-mapping>    

</web-app>